.textLink:hover {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.signin:hover {
    -fx-cursor: hand;
    -fx-scale-x: 103%;
    -fx-scale-y: 103%;
}

.txtField {
    -fx-prompt-text-fill: #cecece;
    -fx-font-size: 15px;
}